/* --Foundation-- */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    position: relative;
    font-style: normal;
    font-size: 16px;
    color: #191A1E;
    box-sizing: border-box;
    background-color: #fff;
    box-sizing: border-box;
    font-family: Helvetica;
}

img {
    width: 100%;
}


/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Slider */
.slider {
    position: relative;
    overflow: hidden;
    /* <===  */
    border-radius: 15px;
    border: 5px solid rgb(255, 64, 0);
    width: 20%;
    height: 100%;
    aspect-ratio: 2/1;

}

.slide {
    position: absolute;
    text-align: center;
    width: 100%;
    border: 5px solid greenyellow;
    transition: all 0.5s;


}

.slide img {

    width: 75%;
    height: 100%;

    aspect-ratio: 16/9;
    border: black solid .25em;
    border-radius: 1.5em;

}

.btn {

    width: 2.5em;
    height: 2.5em;
    position: absolute;
    border: black solid 2px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);

}

.btn-prev {
    top: 40%;
    left: 2%;
}

.btn-next {
    top: 40%;
    right: 2%;
}